:root{
    --clr-primary-400: hsl(179, 62%, 43%);
    --clr-primary-300: hsl(71, 73%, 54%);

    --clr-neutral-200: hsl(204, 43%, 93%);
    --clr-neutral-100: hsl(218, 22%, 67%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(1rem + 0.390625vw);
}

body{
    width: 100%;
    height: 100dvh;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-neutral-200);
    padding: 100px 30px;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    max-width: 550px;
    margin-inline: auto;
    border: 8px;
    box-shadow: 0px 0px 14px 1px #00000024;
}

.sec{
    padding: 30px;
}

/* join section */

.join-sec{
    background-color: #fff;
}

.join-sec h1{
    font-size: 1.3rem;
    color: var(--clr-primary-400);
    font-weight: 700;
}

.join-sec h2{
    font-size: 1rem;
    color: var(--clr-primary-300);
    padding-top: .9rem;
    font-weight: 700;
}

.join-sec p{
    font-size: .8rem;
    padding-top: 0.7rem;
    color: var(--clr-neutral-100)   ;
}

/* signe-upe section */

.signeup-sec{
    background-color: var(--clr-primary-400);
}

.signeup-sec h2{
    color: var(--clr-neutral-200);
    padding-bottom: 15px;
}

.signeup-sec p{
    color: var(--clr-neutral-100);
    font-size: 1rem;
    font-weight: 400;
}

.signeup-sec div{
    display: flex;
    align-items: center;
    gap: 14px;
}

.signeup-sec  span{
    font-size: 2rem;
    font-weight: 700;
    color: var(--clr-neutral-200);
}

.signeup-sec .subtext{
    font-size: 13px;
    color: var(--clr-neutral-200);
    font-weight: 700;
    margin-top: .9rem;
}

.signeup-sec .btn{
    width: 300px;
    height: 48px;
    border: none;
    border-radius: 8px;
    background-color: var(--clr-primary-300);
    color: var(--clr-neutral-200);
    margin-top: 1.2rem;
    cursor: pointer;
}

/* about section */
.about-sec{
    background-color: hwb(179 24% 16%);
    color: var(--clr-neutral-200);
}

.about-sec p{
    margin-top: 1rem;
    font-size: .8rem;
    width: 170px;
}

@media(min-width: 768px){
    .container{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto;
        margin: 0 auto;
    }

    .join-sec{
        grid-column: 1 / span 4;
    }

    .signeup-sec{
        grid-column: 1 / span 2;
        grid-row: 2;
        width: 100%;
    }

    .about-sec{
        grid-column: 3 / span 5;
        grid-row: 2;
    }


    .signeup-sec .btn{
        width: 95%;
    }
}

@media(min-width: 960px){
    .container{
        max-width: 700px;
    }
}